@import "../Home/variables";
.App-header{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space: nowrap;
}

.list-creating-modal-window{
  min-width: 322px;
  border: 2px solid black;
  padding: 5px;
  background-color: #FCF6EADE;
  margin: 15px 15px 15px 50px;
  box-shadow: 5px 5px 10px black;
  border-radius: $deep-border-radius;
  cursor: pointer;
  font-size: 17px;
  display: flex;
  flex-direction: column;
}
.board-name-container{
  display: flex;
  h1{
    font-family: $secondary-font;
    margin: 20px 0 0 15px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 45px;
    font-size: 40px;
    text-align: start;
    font-weight: 700;
  }
}
.board-name-h1{
  color: black;
}
.board-input-boardName{
  max-width: 100%;
  border: 0;
  padding: 0;
  height: 45px;
  margin: 20px 0 0 15px;
  font-size: 40px;
  font-weight: 700;
}
.new-list-input{
  margin: 0 auto;
  width: 95%;
  height: 30px;
  font-size: 25px;
  outline: 0;
  border-radius: $deep-border-radius;
}
.submit-list-button{
  user-select: none;
  margin: 5px;
  width: 120px;
  height: 30px;
  background-color: #dcd5d5;
  border: 0;
  border-radius: $medium-border-radius;
  cursor: pointer;
}