$deep-border-radius: 12px;
$medium-border-radius: 8px;
$X-deep-border-radius: 16px;
$border-radius-for-small-obj: 4px;
$circle-border-radius: 100px;
$main-font: New, serif;
$secondary-font: Arial, serif;
$tertiary-font: "Goudy Old Style", monospace;
$micro-modal-bg: #ece6e6;