@import "../../variables";
.home-board-style {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 56, 255, 0.54);
  width: 323px;
  height: 190px;
  margin: 20px;
  font-size: 30px;
  white-space: normal;
  font-weight: 700;
  border-radius: 12px;
  box-shadow: 5px 5px 10px black;
  border: 2px solid black;
  cursor: pointer;
  text-decoration: none;
  color: rgba(63, 57, 57, 0.79);
  font-family: $main-font;
  &:hover {
    background-color: rgba(63, 96, 236, 0.8);
  }
  p{
    overflow: hidden;
    word-break: break-word;
    height: 150px;
    display: flex;
    font-family: $main-font;
    color: black;
    text-align: left;
    width: 290px;
    font-size: 40px;
    margin: 5px 2px 0 15px;
  }
}

.delete-board{
  user-select: none;
  font-family: $main-font;
  font-weight: 700;
  color: #413a3a;
  font-size: 25px;
  margin-top: 10px;
  &:hover {
    color: #000000;
    font-size: 30px;
  }
}