.home-board-style{
  display: flex;
  flex-direction: column;
  background-color: #4a4abd;
  width: 150px;
  height: 100px;
  margin: 20px;
  font-size: 30px;
  overflow: hidden;
  white-space: normal;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
  border: 1px solid darkblue;
  cursor: pointer;
  text-decoration: none;
  color: rgba(63, 57, 57, 0.79);
}

.home-board-style p{
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 145px;
  font-size: 18px;
  height: 50px;
  margin: 2px 2px 0 5px;
}

.delete-board{
  color: #9B9B9B;
  font-size: 15px;
  margin-top: 20px;
}