.list-style {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow-x: auto;
}

.list-style::-webkit-scrollbar {
  position: relative;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(229, 218, 218, 0.58);
}

.list-style::-webkit-scrollbar-thumb {
  background-color: rgba(143, 137, 137, 0.78);
  border-radius: 10px;
}
.list-container{
  width: 200px;
  max-height: 400px;
  min-height: 300px;
  padding: 5px;
  font-size: 25px;
  background-color: #fdfdfd;
  margin: 15px;
  box-shadow: 5px 5px 10px black;
  border-radius: 4px;
}
.list-container h2{
  font-size: 25px;
  margin: 0;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
}
.create-button {
  min-width: 200px;
  height: 50px;
  border: 0;
  padding: 5px;
  background-color: #fdfdfd;
  margin: 15px 15px 15px 50px;
  box-shadow: 5px 5px 10px black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
}

.cards {
  width: 200px;
  height: 100%;
  overflow: auto;
  font-size: 20px;
  text-align: start;
  color: black;
}

.cards div {
  overflow-y: auto;
}

.cards::-webkit-scrollbar {
  width: 10px;
}

.cards::-webkit-scrollbar-thumb {
  background-color: rgba(180, 173, 173, 0.75);
  border-radius: 5px;
}