@import "../../../Home/variables";

.list-style {
  height:100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow-x: auto;
  &::-webkit-scrollbar {
    position: relative;
    height: 20px;
    border-radius: $deep-border-radius;
    background-color: rgba(229, 218, 218, 0.58);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(143, 137, 137, 0.78);
    border-radius: $deep-border-radius;
  }
}
.list-container{
  position: relative;
  width: 290px;
  min-height: 50px;
  max-height: 1000px;
  padding: 5px;
  font-size: 25px;
  background-color: #0F89398A;
  margin: 15px;
  box-shadow: 5px 5px 10px #0b752c;
;
  border-radius: $X-deep-border-radius;
  border: 2px solid black;
}
.list-name-input{
  font-weight: 400;
  font-family: $secondary-font;
  width: 85%;
  font-size: 25px;
  margin: 0 32px 4px 0;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-container-header{
  color: black;
  font-weight: 400;
  font-family: $secondary-font;
  font-size: 25px;
  margin: 4px 0 7px 6px;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
}
.create-button {
  min-width: 240px;
  height: 59px;
  border: 2px solid #000000;
  padding: 5px;
  background-color: #FCF6EADE;
  margin: 15px 15px 15px 50px;
  box-shadow: 5px 5px 10px black;
  border-radius: $deep-border-radius;
  cursor: pointer;
  font-size: 20px;
}

.cards {
  position: relative;
  box-sizing: border-box;
  display: block;
  flex-direction: column;
  width: 290px;
  max-height: 600px;
  font-size: 20px;
  text-align: start;
  color: black;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
    position: relative;
    height: 20px;
    border-radius: $deep-border-radius;
    background-color: rgba(229, 218, 218, 0.58);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(143, 137, 137, 0.78);
    border-radius: $deep-border-radius;
  }
  div {
    overflow-y: auto;
  }
}

.from-for-card{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: $deep-border-radius;
  background-color: rgba(15, 137, 57, 0);

}
.input-for-card{
  margin: 5px 0 5px 0;
  min-height: 25px;
  font-size: 20px;
  resize: none;
  max-height: 185px;
  width: 95%;
  border-radius: $deep-border-radius;
  &::-webkit-scrollbar {
    position: relative;
    height: 20px;
    border-radius: $deep-border-radius;
    background-color: rgba(229, 218, 218, 0.58);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(143, 137, 137, 0.78);
    border-radius: $deep-border-radius;
  }
}

.submit-button-card{
  width: 95%;
  height: 30px;
  background-color: #dcd5d5;
  cursor: pointer;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 550;
  border: 0;
  &:hover{
    background-color: #d7cdcd;
  }
}
.add-card-button{
  font-size: 17px;
  width: 95%;
  height: 35px;
  border-radius: 12px;
  font-weight: 550;
  border: 0;
  margin-right: 12px;
  background-color: #dcd5d5;
  cursor: pointer;
  &:hover{
    background-color: #d7cdcd;
  }
}
.menu-dots{
  position: absolute;
  top: 5px;
  right: 7px;
  cursor: pointer;
}
.list-menu{
  top: -23px;
  right: -85px;
  position: absolute;
  z-index: 10000000;
}
.delete-list-button{
  cursor: pointer;
  background-color: #f1efef;
  font-weight: 400;
  font-size: 18px;
  border: 2px solid #443838;
  border-radius: 3px;
  &:hover{
    background-color: #d7cdcd;
  }
}
