.card-box{
  margin: 0 0 5px 0;
}
.card-style{
  min-width: 275px;
  box-sizing: border-box;
  min-height: 25px;
  font-weight: 400;
  position: relative;
  word-break: break-all;
  line-height: 17px;
  font-size: 20px;
  background-color: #0F89398A;
  border-radius: 12px;
  max-width: 275px;
  align-items:  center;
  margin: 0;
  white-space: normal;
  padding: 7px 5px 9px 10px;
  overflow: hidden;
  cursor: pointer;
}

.draggable-img{
  opacity: 0.9999999;
  background-color: #cbcfd2;
  font-size: 20px;
  border-radius: 4px;
  min-width: 257px;
  padding: 7px 5px 9px 10px;
}

.slot-style{
  box-shadow:  inset  1px 2px 3px black;
  max-width: 275px;
  background-color: rgba(22, 145, 61, 0.9);
  border-radius: 8px;
}

.card-style:hover{
  .edit-card{
    visibility: visible;
  }
  background-color: rgba(15, 137, 57, 0.9);
}
.card-style::-webkit-scrollbar {
  width: 10px;
}

.card-style::-webkit-scrollbar-thumb {
  background-color: rgba(180, 173, 173, 0.75);
  border-radius: 5px;
}
.edit-card{
  width: 20px;
  height: 15px;
  color: #5d5454;
  font-size: 15px;
  position: absolute;
  right: 5px;
  top: 3px;
  cursor: pointer;
  border-radius: 3px;
  background-color: rgba(15, 137, 57, 0.9);
  visibility: hidden;
  margin-top: 5px;
}
.card-edit-form{
  background-color: #0F89398A;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
}
.card-edit-button-container{
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
}
.red-onbutton{
  width: 75px;
  height: 25px;
  border-radius: 12px;
  margin:0 5px 5px 5px;
  border: 1px solid black;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.54);
}
.red-onbutton:hover {
  background-color: rgba(255, 0, 0, 0.71);
}
.card-edit-input{
  font-weight: 400;
  font-size: 18px;
  outline: none;
  border-radius: 12px;
  margin-top: 7px;
  min-width: 260px;
  min-height: 30px;
}
.card-edit-button{
  width: 75px;
  height: 25px;
  border-radius: 12px;
  margin:0 5px 5px 5px;
  border: 1px solid black;
  cursor: pointer;
  background-color: #0F89398A;

}
.card-edit-button:hover {
  background-color: rgb(15, 137, 57);
}