.back-ground-modal-card{
  z-index: 100000;
  justify-content: center;
  align-items: center;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}
.title-container-big-modal{
  display: flex;
  flex-direction: row;
}
.mark{
  background: url("mark.png");
  width: 50px;
  height: 99px;
  background-size: 100% ;
  margin-left: 20px;
}
.other{
  width: 75%;
  justify-content: flex-start;
}

.modal{
  border: 2px solid black;
  z-index: 1000000;
  position: absolute;
  top: 35px;
  left: calc(50% - 350px);
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  box-shadow: -5px 5px 5px  black;
  background: url("./1515.jpg");
  opacity: 1;
  width: 700px;
  overflow: auto;
}
.card-name-editor{
overflow: hidden;
  resize: none;
  display: block;
  width: 377px;
  font-size: 45px;
  border: 1px solid black;
  font-family: "Goudy Old Style", monospace;
  color: black;
  margin: 19px 0 0 20px;
  background-color: rgba(225, 219, 219, 0);
font-weight: 700;
  min-height: 50px;
}
.card-name-modal{
  display: block;
  width: 377px;
  text-align: start;
  font-size: 45px;
  font-family: "Goudy Old Style", monospace;
  color: black;
  margin: 23px 0 0 23px;
  box-sizing: border-box;
  white-space: normal;
  word-break: break-word;
}
.in-list{
  font-size: 25px;
  font-family: "Goudy Old Style", monospace;
  text-align: start;
  margin: 2px 0 0 20px;
  color: black;

}
.users{
  margin: 5px 0 0 0;
}
.users-h{
  color: black;
  text-align: start;
  font-family: "Goudy Old Style", monospace;
  margin: 20px 0 0 25px;
}
.circles{
  margin: 3px 0 0 20px;
  display: flex;
  flex-direction: row;
}
.users-container{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.circle{
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 100px;
  margin: 2px 5px 2px 5px;
}
.first{
  background: rgba(0, 56, 255, 0.54);}
.second{
  background: rgba(112, 0, 255, 0.54);}
.third{
  background: rgba(15, 137, 57, 0.54);}
.plus{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.plus-icon{
  margin: 0 0 1px 1px;
  font-size: 33px;
  color: black;
}
.card-big-modal-button{
  font-weight: 700;
  border: 0;
  border-radius: 12px;
  background-color: #9b9b9b;
  margin: 5px 5px 5px 5px;
  width: 100px;
  height: 40px;
  color: black;
  font-family: "Goudy Old Style", monospace;
  font-size: 25px;
  cursor: pointer;
  box-shadow: -1px 1px 2px black;
}
.card-big-modal-button:hover{
  margin: 6px 6px 4px 4px;
  box-shadow: 0 0 0;
  background-color: #858585;
}
.card-big-modal-button-disabled{
  margin: 6px 6px 4px 4px;
  box-shadow: 0 0 0;
  background-color: #858585;
}
.description-container{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.change{
  width: 70px;
  height: 25px;
  font-size: 18px;
  font-weight: 700;
}
.description-header{
  color: black;
  font-size: 23px;
  margin: 5px 15px 5px 25px;
  font-family: "Goudy Old Style", monospace;
}

.description-detailed-before {
  border: 0;
  background-color: rgba(225, 219, 219, 0);
  display: block;
  width: 90%;
  margin: 5px 0 55px 20px;
  resize: none;
  font-family: "Goudy Old Style", monospace;
  font-size: 20px;
  min-height: 100px;
}

.description-detailed-before:focus{
  background-color: rgba(255, 255, 255, 0);
}
.description-detailed-before::-webkit-scrollbar {
  width: 10px;
}

.description-detailed-before::-webkit-scrollbar-thumb {
  background-color: rgba(180, 173, 173, 0.75);
  border-radius: 5px;
}
.actions{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  width: 25%;
}
.actions-button{
  background: rgba(112, 143, 255, 0.71);
  width: 150px;
  height: 65px;
}
.actions-header{
  font-family: "Goudy Old Style", monospace;
  font-size: 27px;
  color: #625656;
  text-align: start;
  margin: 100px 0 5px 35px;
}
.list-name-span{
  text-decoration: underline 1px;
  cursor: pointer;
}
.moving-card-modal{
  left: 75px;
  position: absolute;
  width: 300px;
  border-radius: 6px;
  box-shadow: -2px 2px 2px  black;
  background-color: #ece6e6;
  z-index: 99999999999999;
}
.big-text{
  text-align: center;
  font-weight: 400;
  font-size: 25px;
  font-family: "Goudy Old Style", monospace;
margin: 0 0 0 14px;
}
.hr-style{
  width: 90%;
  background-color: black;
  height: 1px;
  margin-top: 0;
}
.small-text{
  text-align: start;
  font-weight: 700;
  font-size: 17px;
  font-family: "Goudy Old Style", monospace;
  margin: 0 0 0 15px ;
}
.chosen-column{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 50px;
  background-color: #dad2d2;
  margin-bottom: 10px;
  border-radius: 3px;
  cursor: pointer;
}
.chosen-column:hover
.selection{
  background-color: #b0aeae;
  cursor: pointer;
}
.chosen-column:hover {
  background-color: #b0aeae;
}
.board-modal{
  width: 90%;
  margin-left: 15px;
}
.list-modal{
  margin-left: 15px;
  width: 60%;
}
.position-modal{
  margin-left: 10px;
  width: 27%;
}
.chosen-columns-container{
  display: flex;
  flex-direction: row;
}
.move-button{
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #0b84c9;
  width: 50%;
  font-size: 22px;
  color: #d9d2d2;
  height: 35px;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
}
.move-button:hover {
  background-color: #14628f;
}
.inside{
  color: #3b3a3a;
  font-weight: 150;
  margin: 1px 0 0 5px;
}
.custom-text{
  margin-left: 5px;
  font-size: 18px;
}
.selection{
  height: 25px;
  width: 260px;
  border: 0;
  background-color: #dad2d2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.selection:hover{
  background-color: #b0aeae;
}
.list-size{
    width: 150px;
  padding-left: 6px;

}
.pos-size{
  width: 25px;
  padding-left: 6px;
}
.red-theme{
  background-color: #a86868;
}
.red-theme:hover{
  background-color: #985757;
}
.copied-card-name-input{
  resize: none;
width: 90%;
  margin-left: 12px;
  border-radius: 3px;
  border: 0;
  height: 50px;
}
.title-container-small-modal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cross-to-exit{
  border-radius: 3px;
  cursor: pointer;
  margin: 4px 13px 0 0 ;
}
.cross-to-exit:hover {
  background-color: #9b9b9b;
}