.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}


.App-header {
  background: url("../BG.png");
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(0, 0, 0, 0.65);
}

.App-link {
  color: #61dafb;
}
