.App {
  height: 100vh;
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}


.App-header {
  background: url("../pictures/GeneralBackGround.jpg");
  background-size: 50%;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(0, 0, 0, 0.65);
  height: 100vh;
}

.App-link {
  color: #61dafb;
}
